# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Jupyter Notebook files
# *.ipynb

# Ignore virtual environment directory (if applicable)
myenv/

# Include CSV files
# !*.csv

.gitignore